.dashboard-body p {
  padding: 2px 0;
}
.dashboard-body form {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}
.dashboard-body form .form-group {
  margin: 0 20px 0 0;
  display: flex;
  align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.dashboard-body form .form-group label {
  font-size: calc(0.45rem + 0.6vw);
  margin-right: 0.5rem;
  padding-bottom: 0;
}
.dashboard-body form .form-group select {
  display: inline-block;
  min-width: 100px;
  width: calc(6rem + 4vw);
}
.dashboard-body form .form-buttons {
  justify-content: flex-start;
  align-items: center;
}
.dashboard-body form .form-buttons a {
  margin-right: 1rem;
}
.dashboard-body #project-group {
  display: none;
}
