@import url(https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700&display=swap);
.btn {
  border-radius: 0;
  border: none;
  color: #fff;
  padding: 7px 13px;
  font-size: calc(0.45rem + 0.6vw);
  text-decoration: none;
  font-weight: 400;
  letter-spacing: 0.02rem;
  cursor: pointer;
}

.btn-primary,
.btn-primary:hover {
  background-color: #bd020b !important;
}

.btn-secondary,
.btn-secondary:hover {
  background-color: #191919;
}

.btn-link {
  color: #191919;
  text-decoration: none;
}
.btn-link:hover {
  text-decoration: underline;
  color: #191919;
}

.form-group {
  margin: 0 auto 20px auto;
  width: 95%;
  margin-bottom: 1rem;
}

label {
  padding-bottom: 10px;
  font-size: calc(0.4rem + 0.6vw);
  width: 100%;
}

input,
input:focus,
textarea,
textarea:focus,
select,
select:focus {
  border: 1.5px solid #191919 !important;
  border-radius: 0 !important;
  outline: none !important;
  box-shadow: none !important;
  padding: 7px 11px !important;
  font-size: calc(0.45rem + 0.6vw) !important;
  width: 100%;
  margin-top: 0.35rem;
}
input:focus,
input:focus:focus,
textarea:focus,
textarea:focus:focus,
select:focus,
select:focus:focus {
  border-color: #bd020b !important;
}
input:disabled,
input:focus:disabled,
textarea:disabled,
textarea:focus:disabled,
select:disabled,
select:focus:disabled {
  background-color: #f3f3f3 !important;
}

.checkbox label {
  display: flex;
  align-items: center;
}
.checkbox label input {
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.checkbox label input:after {
  background-color: #bd020b;
}
.checkbox label span {
  padding-left: 0.5rem;
}

#form-buttons {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}
#form-buttons #buttons-right {
  width: 80%;
}
@media (max-width: 300px) {
  #form-buttons .btn-link {
    position: absolute;
    bottom: -30px;
    right: 0;
  }
}

form.inline {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}
form.inline label {
  font-size: calc(0.45rem + 0.6vw);
  margin-right: 0.5rem;
  padding-bottom: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
form.inline select,
form.inline input {
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: 20px;
}
form.inline #form-buttons {
  margin-top: 0 !important;
  justify-content: flex-start;
  align-items: center;
}
form.inline #form-buttons a {
  margin-right: 1rem;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.d-none {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans", sans-serif;
  background-color: #f3f3f3;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  width: 12px !important;
}
body::-webkit-scrollbar-track {
  background-color: #f3f3f3 !important;
}
body::-webkit-scrollbar-thumb, body::-webkit-scrollbar-thumb:hover {
  width: 10px !important;
  background-color: #c4c4c4 !important;
}
body p {
  line-height: calc(1.2rem + 0.4vw);
}
