body {
  background-color: #e4e4e4;
}

#error-screen-overlay {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 4;
}

#error-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(10rem + 30vw);
  height: calc(10rem + 20vh);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  z-index: 5;
  padding: 3rem;
}
#error-box #error-content {
  text-align: center;
  height: 90%;
}
#error-box #error-content h1 {
  font-size: calc(0.9rem + 1.7vw);
  padding-bottom: 1rem;
}
#error-box #error-content h2 {
  font-size: calc(0.5rem + 1.2vw);
  font-weight: 300;
}
#error-box #error-dismiss-container {
  display: flex;
  justify-content: center;
}

#action-screen-overlay {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 4;
  display: none;
}

#menu-screen-overlay {
  display: none;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
}
@media (min-width: 600px) {
  #menu-screen-overlay {
    display: none !important;
  }
}
#menu-screen-overlay #icon-close {
  position: fixed;
  height: 40px;
  width: 40px;
  top: 5px;
  right: 5px;
}

#mobile-menu {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 50px;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #191919;
  z-index: 1;
}
@media (min-width: 600px) {
  #mobile-menu {
    display: none;
  }
}
#mobile-menu #mobile-menu-open {
  height: 30px;
  width: 30px;
  margin: 0 2vw;
}
#mobile-menu #logo {
  font-size: calc(1rem + 1vw);
  font-weight: 600;
  color: #fff;
}

#sidebar {
  position: fixed;
  width: calc(10rem + 2vw);
  height: 100vh;
  background-color: #191919;
  top: 0;
  display: grid;
  grid-template-rows: 20vh 1fr;
  z-index: 3;
}
@media (min-width: 600px) {
  #sidebar {
    left: 0 !important;
  }
}
@media (max-width: 600px) {
  #sidebar {
    width: calc(50px + 30vw);
    left: -80vw;
  }
}
#sidebar #sidebar-top {
  padding-top: 10px;
  width: 100%;
  font-size: calc(1.3rem + 0.6vw);
  font-weight: 600;
  text-align: center;
  color: #fff;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
@media (max-width: 600px) {
  #sidebar #sidebar-top {
    font-size: calc(1.1rem + 2.4vw);
  }
}
#sidebar #sidebar-body {
  display: flex;
  flex-direction: column;
}
#sidebar #sidebar-body a {
  padding: calc(0.7rem + 0.2vw) 0;
  width: 100%;
  text-align: center;
  font-size: calc(0.8rem + 0.4vw);
  font-weight: 400;
  text-decoration: none;
  color: #fff;
}
@media (max-width: 600px) {
  #sidebar #sidebar-body a {
    font-size: calc(0.7rem + 1vw);
  }
}

.dashboard-viewport {
  margin-left: calc(10rem + 2vw);
  width: calc(100vw - (10rem + 2vw));
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 600px) {
  .dashboard-viewport {
    margin: 50px 0 0 0;
    width: 100vw;
  }
}
.dashboard-viewport .dashboard-card {
  margin: 2rem;
  border: 2px solid #191919;
  overflow: visible;
  background-color: #fff;
  width: 100%;
}
@media (max-width: 300px) {
  .dashboard-viewport .dashboard-card {
    margin: 1rem;
  }
}
.dashboard-viewport .dashboard-card .dashboard-header {
  padding: 0.5rem 1rem 0.2rem 1rem;
  background-color: #191919;
  color: #fff;
}
.dashboard-viewport .dashboard-card .dashboard-header h1,
.dashboard-viewport .dashboard-card .dashboard-header h2 {
  font-size: calc(0.7rem + 1.3vw);
  margin: 0;
  font-weight: 600;
}
.dashboard-viewport .dashboard-card .dashboard-header p {
  font-size: calc(0.45rem + 0.6vw);
  margin-top: 0.2rem;
  font-weight: 400;
}
.dashboard-viewport .dashboard-card .dashboard-body h2 {
  font-size: calc(0.9rem + 1.5vw);
}
.dashboard-viewport .dashboard-card .dashboard-body h3 {
  font-size: calc(0.6rem + 1.1vw);
  margin: 0 0 1rem 0;
}
.dashboard-viewport .dashboard-card .dashboard-body p {
  font-size: calc(0.45rem + 0.6vw);
}
.dashboard-viewport .dashboard-card .dashboard-body .body-content {
  padding: 1rem 2rem;
}
.dashboard-viewport .dashboard-card .dashboard-body.body-split {
  display: grid;
  grid-template-columns: 20% 80%;
}
@media (max-width: 400px) {
  .dashboard-viewport .dashboard-card .dashboard-body.body-split {
    grid-template-columns: none;
    grid-template-rows: -webkit-max-content;
    grid-template-rows: max-content;
  }
}
.dashboard-viewport .dashboard-card .dashboard-body.body-split .split-left {
  background-color: #f3f3f3;
}
.dashboard-viewport .dashboard-card .dashboard-body.body-split .split-left .body-content {
  padding: 0.5rem 1rem;
  display: flex;
  flex-wrap: wrap;
}
.dashboard-viewport .dashboard-card .dashboard-body.body-split .split-left .body-content ul {
  width: 100%;
  padding: 0;
  list-style: none;
}
.dashboard-viewport .dashboard-card .dashboard-body.body-split .split-left .body-content ul li {
  display: flex;
  flex-direction: column;
  font-size: calc(0.55rem + 0.6vw);
  font-weight: 600;
  margin-bottom: 2.5rem;
}
.dashboard-viewport .dashboard-card .dashboard-body.body-split .split-left .body-content ul li label {
  padding-bottom: 0;
}
.dashboard-viewport .dashboard-card .dashboard-body.body-split .split-left .body-content ul li select {
  margin: 0;
}
.dashboard-viewport .dashboard-card .dashboard-body.body-split .split-left .body-content ul li span {
  padding: 0.5rem 1rem;
  font-weight: 400;
}
.dashboard-viewport .dashboard-card .dashboard-body.body-split .split-left .body-content ul li span.form-button {
  display: flex;
  justify-content: center;
}
.dashboard-viewport .dashboard-card .dashboard-body.body-split .split-right {
  color: inherit;
}
.dashboard-viewport .dashboard-card .dashboard-body.body-comments {
  background-color: #f3f3f3;
}
.dashboard-viewport .dashboard-card .dashboard-body.body-comments .comment-submit {
  width: 100%;
  background-color: #fff;
  padding: 2rem 1rem 1rem 1rem;
}
.dashboard-viewport .dashboard-card .dashboard-body.body-comments .comments-list-container {
  padding: calc(1rem + 1vw);
}
.dashboard-viewport .dashboard-card .dashboard-body.body-comments .comments-list-container h3 {
  font-size: calc(0.6rem + 1.1vw);
}
.dashboard-viewport .dashboard-card .dashboard-body.body-comments .comments-list-container ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 0 0 5rem 0;
  list-style: none;
}
.dashboard-viewport .dashboard-card .dashboard-body.body-comments .comments-list-container ul li {
  margin-bottom: 2rem;
  padding: 1.2rem 2rem;
  width: 100%;
  background-color: #fff;
}
.dashboard-viewport .dashboard-card .dashboard-body.body-comments .comments-list-container ul li .comment-header {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.5rem;
}
.dashboard-viewport .dashboard-card .dashboard-body.body-comments .comments-list-container ul li .comment-header h4 {
  margin: 0 calc(1rem + 1vw) 0 0;
}
.dashboard-viewport .dashboard-card .dashboard-body.body-comments .comments-list-container ul li .comment-header p {
  margin: 0;
}
.dashboard-viewport .dashboard-card .dashboard-body.body-comments .comments-list-container ul li .comment-body {
  margin-top: 0.2rem;
}
.dashboard-viewport .dashboard-card .dashboard-body.body-comments .comments-list-container ul li .comment-body p {
  margin: 0;
}
.dashboard-viewport .dashboard-card .dashboard-body.body-table {
  padding: 2rem;
}
.dashboard-viewport .dashboard-card .dashboard-body.body-table table {
  border-color: #191919;
  font-size: calc(0.45rem + 0.6vw);
  width: 100%;
  border-collapse: collapse;
}
.dashboard-viewport .dashboard-card .dashboard-body.body-table table,
.dashboard-viewport .dashboard-card .dashboard-body.body-table table th,
.dashboard-viewport .dashboard-card .dashboard-body.body-table table td {
  border: 1px solid #191919;
  padding: 0.5rem 1rem;
}
.dashboard-viewport .dashboard-card .dashboard-body.body-table table tbody .org-row {
  cursor: pointer;
}
.dashboard-viewport .dashboard-card .dashboard-body.body-table table tbody .org-row:hover {
  background-color: #e4e4e4;
}
.dashboard-viewport .dashboard-card .dashboard-body.body-table table tbody .org-row .highlight {
  color: #bd020b;
}
.dashboard-viewport .dashboard-card .dashboard-body.body-table table tbody .org-row .success {
  color: rgb(0, 162, 0);
}
.dashboard-viewport .dashboard-card .dashboard-body .action-prompt {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(10rem + 30vw);
  height: calc(10rem + 20vh);
  background-color: #fff;
  display: none;
  flex-direction: column;
  z-index: 5;
  padding: 3rem;
}
.dashboard-viewport .dashboard-card .dashboard-body .action-prompt .action-content {
  text-align: center;
  height: 90%;
}
.dashboard-viewport .dashboard-card .dashboard-body .action-prompt .action-content h1 {
  font-size: calc(0.9rem + 1.7vw);
}
.dashboard-viewport .dashboard-card .dashboard-body .action-prompt .action-content h2 {
  font-size: calc(0.5rem + 1.2vw);
  font-weight: 300;
}
.dashboard-viewport .dashboard-card .dashboard-body .action-prompt .action-buttons {
  display: flex;
  justify-content: space-between;
}
.dashboard-viewport .dashboard-card .dashboard-body .dashboard-button {
  height: 5vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 2vh;
}
.dashboard-viewport .dashboard-card .dashboard-body .dashboard-button a {
  margin-left: 2rem;
}
