.dashboard-viewport .home-panels-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.dashboard-viewport .home-panels-container .home-panel {
  text-align: center;
  border: 2px solid #191919;
  color: #191919;
  text-decoration: none;
  height: calc(4rem + 4vw);
  width: calc(3rem + 15vw);
  padding-top: calc(0rem + 2vw);
}
.dashboard-viewport .home-panels-container .home-panel strong {
  font-size: calc(0.9rem + 1vw);
  font-weight: 500;
  width: 100%;
}
.dashboard-viewport .home-panels-container .home-panel span {
  font-size: calc(0.45rem + 0.6vw);
  font-weight: 400;
  width: 100%;
}
