@import './_variables';

.btn{
    border-radius:0;
    border:none;
    color:#fff;
    padding:6px 11px;
    font-size:calc(0.4rem + 0.6vw);
}

.btn-primary,
.btn-primary:hover{
    background-color: $red !important;
}

.btn-secondary,
.btn-secondary:hover{
    background-color: $offblack;
}

.btn-link{
    color:$offblack;
    text-decoration: none;

    &:hover{
        text-decoration: underline;
        color:$offblack;
    }
}