@import './_variables';

.btn{
    border-radius:0;
    border:none;
    color:#fff;
    padding:9px 15px;
    font-size:calc(0.45rem + 0.5vw);
    text-decoration: none;
    font-weight: 400;
    letter-spacing: 0.02rem;
    cursor: pointer;
}

.btn-primary,
.btn-primary:hover{
    background-color: $red !important;
}

.btn-secondary,
.btn-secondary:hover{
    background-color: $offblack;
}

.btn-link{
    color:$offblack;
    text-decoration: none;

    &:hover{
        text-decoration: underline;
        color:$offblack;
    }
}