@import './variables';


.form-group{
    margin: 0 auto 20px auto;
    width:95%;
    margin-bottom:1rem;

}

label{
    padding-bottom:10px;
    font-size:calc(0.45rem + 0.6vw);
    width:100%;
}

input,
input:focus,
textarea,
textarea:focus,
select,
select:focus{
    border:1.5px solid $offblack;
    border-radius:0;
    outline:none;
    box-shadow: none;
    padding:7px 11px;
    font-size:calc(0.45rem + 0.5vw);
    width:100%;
    margin-top:0.35rem;
    font-family: inherit;
    resize: vertical;

    &:focus{
        border-color:$red;
    }

    &:disabled{
        background-color:$lightgrey;
    }
}

.invalid-feedback{
    font-size:calc(0.4rem + 0.6vw);
    color:$red;
}

.is-invalid{
    color:$red;
}

.checkbox{

    label{
        display: flex;
        align-items: center;

        input{
            display: flex;
            width:fit-content;

            &:after{
                background-color: $red;
            }
        }

        span{
            padding-left:0.5rem;
        }
    }
}

#form-buttons{
    margin-top:2rem;
    display: flex;
    justify-content: space-between;

    #buttons-right{
        width:80%;
    }

    @media (max-width:300px){
        .btn-link{
            position: absolute;
            bottom:-30px;
            right:0;
        }
    }
}

form.inline{
    .form-group{
        display: flex;
        align-items: center;
        flex-direction: row;
        margin-left:0;
        
        label{
            width:fit-content;
            padding:0 0.5rem 0 0;
        }

        input,
        textarea,
        select{
            width:fit-content;
        }
    }
}