@import '../inc/_variables';

body{
    background-color: $mediumgrey;
}

#error-screen-overlay{
    position: fixed;
    height:100vh;
    width:100vw;
    top:0;
    left:0;
    background-color: rgba($color: #000000, $alpha: 0.6);
    z-index: 4;
}

#error-box{
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width:calc(10rem + 30vw);
    height:calc(10rem + 20vh);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    z-index: 5;
    padding:3rem;

    #error-content{
        text-align: center;
        height:90%;

        h1{
            font-size: calc(0.9rem + 1.7vw);
            padding-bottom:1rem;
        }
        h2{
            font-size: calc(0.5rem + 1.2vw);
            font-weight: 300;
        }
    }

    #error-dismiss-container{
        display: flex;
        justify-content: center;
    }
}

#action-screen-overlay{
    position: fixed;
    height:100vh;
    width:100vw;
    top:0;
    left:0;
    background-color: rgba($color: #000000, $alpha: 0.6);
    z-index: 4;
    display: none;
}

#menu-screen-overlay{
    display: none;
    position: fixed;
    height:100vh;
    width:100vw;
    top:0;
    left:0;
    background-color: rgba($color: #000000, $alpha: 0.6);
    z-index: 2;

    @media (min-width:600px) {
        display: none !important;
    }

    #icon-close{
        position: fixed;
        height:40px;
        width:40px;
        top:5px;
        right:5px;
    }
}

#mobile-menu{
    display: flex;
    align-items: center;
    width:100vw;
    height:50px;
    position: fixed;
    left:0;
    top:0;
    background-color: $offblack;
    z-index: 1;

    @media (min-width:600px) {
        display: none;
    }

    #mobile-menu-open{
        height:30px;
        width:30px;
        margin:0 2vw;
    }

    #logo{
        font-size: calc(1rem + 1vw);
        font-weight: 600;
        color: #fff;
    }
}

#sidebar{

    position:fixed;
    width:calc(10rem + 2vw);
    height:100vh;
    background-color: $offblack;
    top:0;
    display: grid;
    grid-template-rows: 20vh 1fr;
    z-index: 3;

    @media (min-width:600px){
        left:0 !important;
    }

    @media (max-width:600px){
        width:calc(50px + 30vw);
        left:-80vw;
    }

    #sidebar-top{
        padding-top:10px;
        width:100%;
        font-size: calc(1.3rem + 0.6vw);
        font-weight: 600;
        text-align: center;
        color:#fff;
        user-select:none;

        @media (max-width:600px){
            font-size: calc(1.1rem + 2.4vw);
        }
    }

    #sidebar-body{
        display: flex;
        flex-direction: column;

        a{
            padding:calc(0.7rem + 0.2vw) 0;
            width:100%;
            text-align: center;
            font-size: calc(0.8rem + 0.4vw);
            font-weight: 400;
            text-decoration: none;
            color:#fff;

            @media (max-width:600px){
                font-size: calc(0.7rem + 1vw);
            }
        }
    }
}

.dashboard-viewport{
    margin-left: calc(10rem + 2vw);
    width:calc(100vw - (10rem + 2vw));
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @media (max-width:600px){
        margin:50px 0 0 0;
        width:100vw;
    }

    .dashboard-card{
        margin:calc(1rem + 1.5vw);
        border:2px solid $offblack;
        // border-radius: calc(0.2rem + 0.5vw);
        overflow:visible;
        background-color: #fff;
        width:100%;

        .dashboard-header{
            padding:0.5rem 1rem 0.2rem 1rem;
            background-color: $offblack;
            color:#fff;
    
            h1,
            h2{
                font-size: calc(0.7rem + 1.3vw);
                margin:0;
                font-weight: 600;
            }

            p{
                font-size:calc(0.45rem + 0.6vw);
                margin-top:0.2rem;
                font-weight: 400;
            }
                    
        }
    
        .dashboard-body{

            h2{
                font-size: calc(1rem + 1.1vw);
            }
    
            h3{
                font-size: calc(0.65rem + 0.8vw);
                margin:0 0 1rem 0;
            }
    
            p{
                font-size:calc(0.55rem + 0.45vw);
            }

            .body-content{
                padding:1rem 2rem; 
            }

            &.body-split{
                display: grid;
                grid-template-columns: 20% 80%;
                @media (max-width:400px) {
                    grid-template-columns: none;
                    grid-template-rows: max-content;
                }

                .split-left{
                    background-color: $lightgrey;

                    .body-content{
                        padding:0.5rem 1rem;
                        display: flex;
                        flex-wrap: wrap;

                        ul{
                            width:100%;
                            padding:0;
                            list-style:none;

                            li{
                                display: flex;
                                flex-direction: column;
                                font-size:calc(0.55rem + 0.45vw);
                                font-weight: 600;
                                margin-bottom:2.5rem;

                                label{
                                    padding-bottom: 0;
                                }

                                select{
                                    margin:0;
                                }

                                
                                span{
                                    padding:0.5rem 1rem;
                                    font-weight: 400;

                                    &.form-button{
                                        display: flex;
                                        justify-content: center;
                                    }
                                }
                            }
                        }
                    }
                }

                .split-right{
                    color:inherit;
                }
            }

            &.body-comments{

                background-color: $lightgrey;

                .comment-submit{
                    width:100%;
                    background-color: #fff;
                    padding:1.5rem 1rem 0.5rem 1rem;

                    #form-buttons{
                        margin-top:0.5rem;
                        justify-content:flex-end;
                    }
                }

                .comments-list-container{
                    padding:calc(1rem + 1vw);

                    h3{
                        font-size: calc(0.6rem + 1.1vw);
                    }

                    ul{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        margin:0;
                        padding:0 0 5rem 0;
                        list-style: none;

                        li{
                            margin-bottom:2rem;
                            padding:1.3rem 2.1rem;
                            border-radius: calc(0.6rem + 0.2vw);
                            width:100%;
                            background-color: #fff;

                            .comment-header{
                                display: flex;
                                flex-direction: row;
                                margin-bottom:0.5rem;
                                
                                h4{
                                    margin: 0 calc(1rem + 1vw) 0 0;
                                }
                                p{
                                    margin:0;
                                }
                            }

                            .comment-body{
                                margin-top:0.2rem;
            
                                p{
                                    margin: 0;
                                }
                            }
                        }
                    }
                }
            }

            &.body-table{

                padding:2rem;

                .search-container{

                    display: flex;
                    justify-content: flex-end;
                    padding-bottom:2rem;

                    form{

                        display: flex;
                        justify-content: flex-end;
                        height:calc(1.2rem + 1.2vw);

                        input,
                        input:focus{
                            width:calc(8rem + 10vw);
                            margin:0;
                            border-width: 1px;
                            border-color:$offblack;
                            border-right-style: none;
                        }
                        button{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background-color: $offblack;
                            width:calc(1.3rem + 1.2vw);
                            height:100%;
                            padding:1.5%;

                            img{
                                max-height: 100%;
                                max-width: 100%;
                            }
                        }
                    }
                }

                table{
                    border-color:$offblack;
                    font-size:calc(0.55rem + 0.45vw);
                    width:100%;
                    border-collapse: collapse;
    
                    &,
                    th,
                    td{
                        border:1px solid $offblack;
                        padding:0.5rem 1rem;
                    }
    
        
                    tbody{
        
                        .org-row{
                            cursor: pointer;
        
                            &:hover{
                                background-color: $mediumgrey;
                            }
                            .highlight{
                                color:$red;
                            }
                            .success{
                                color:$green;
                            }
                        }
                    }
                }
            }
    
            .action-prompt{
                position: fixed;
                top:50%;
                left:50%;
                transform: translate(-50%,-50%);
                width:calc(10rem + 30vw);
                height:calc(10rem + 20vh);
                background-color: #fff;
                display: none;
                flex-direction: column;
                z-index: 5;
                padding:3rem;
    
                .action-content{
                    text-align: center;
                    height:90%;
    
                    h1{
                        font-size: calc(0.9rem + 1.7vw);
                    }
                    h2{
                        font-size: calc(0.5rem + 1.2vw);
                        font-weight: 300;
                    }
                }
    
                .action-buttons{
                    display: flex;
                    justify-content: space-between;
                }
            }
    
            .dashboard-button{
                height:5vh;
                display: flex;
                align-items: center;
                margin-bottom:2vh;

                a,
                button{
                    margin-right:2rem;
                }
            }
        }
    }
}