@import '../inc/_variables';

@import '../inc/_button';

@import '../inc/_form';

#error-screen-overlay{
    position: fixed;
    height:100vh;
    width:100vw;
    top:0;
    left:0;
    background-color: rgba($color: #000000, $alpha: 0.6);
    z-index: 4;
}

#error-box{
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width:calc(10rem + 30vw);
    height:calc(10rem + 20vh);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    z-index: 5;
    padding:3rem;

    #error-content{
        text-align: center;
        height:90%;

        h1{
            font-size: calc(0.9rem + 1.7vw);
            padding-bottom:1rem;
        }
        h2{
            font-size: calc(0.5rem + 1.2vw);
            font-weight: 300;
        }
    }

    #error-dismiss-container{
        display: flex;
        justify-content: center;
    }
}

#action-screen-overlay{
    position: fixed;
    height:100vh;
    width:100vw;
    top:0;
    left:0;
    background-color: rgba($color: #000000, $alpha: 0.6);
    z-index: 4;
    display: none;
}

#menu-screen-overlay{
    display: none;
    position: fixed;
    height:100vh;
    width:100vw;
    top:0;
    left:0;
    background-color: rgba($color: #000000, $alpha: 0.6);
    z-index: 2;

    @media (min-width:600px) {
        display: none !important;
    }

    #icon-close{
        position: fixed;
        height:40px;
        width:40px;
        top:5px;
        right:5px;
    }
}

#mobile-menu{
    display: flex;
    align-items: center;
    width:100vw;
    height:50px;
    position: fixed;
    left:0;
    top:0;
    background-color: $offblack;
    z-index: 1;

    @media (min-width:600px) {
        display: none;
    }

    #mobile-menu-open{
        height:30px;
        width:30px;
        margin:0 2vw;
    }

    #logo{
        font-size: calc(1rem + 1vw);
        font-weight: 600;
        color: #fff;
    }
}

#sidebar{

    position:fixed;
    width:calc(10rem + 2vw);
    height:100vh;
    background-color: $offblack;
    top:0;
    display: grid;
    grid-template-rows: 20vh 1fr;
    z-index: 3;

    @media (min-width:600px){
        left:0 !important;
    }

    @media (max-width:600px){
        width:calc(50px + 30vw);
        left:-80vw;
    }

    #sidebar-top{
        padding-top:10px;
        width:100%;
        font-size: calc(1.3rem + 0.6vw);
        font-weight: 600;
        text-align: center;
        color:#fff;
        user-select:none;

        @media (max-width:600px){
            font-size: calc(1.1rem + 2.4vw);
        }
    }

    #sidebar-body{
        display: flex;
        flex-direction: column;

        a{
            padding:calc(0.7rem + 0.2vw) 0;
            width:100%;
            text-align: center;
            font-size: calc(0.8rem + 0.4vw);
            font-weight: 400;
            text-decoration: none;
            color:$lightgrey;

            @media (max-width:600px){
                font-size: calc(0.7rem + 1vw);
            }
        }
    }
}

.dashboard-viewport{
    margin-left: calc(10rem + 2vw);
    height:100vh;
    width:calc(100vw - (10rem + 2vw));
    overflow-y: scroll;

    @media (max-width:600px){
        margin:50px 0 0 0;
        width:100vw;
    }

    &::-webkit-scrollbar {
        width: 12px;
    }
    
    &::-webkit-scrollbar-track {
        background-color: $lightgrey; 
    }
    
    &::-webkit-scrollbar-thumb,
    &::-webkit-scrollbar-thumb:hover {
        width:10px;
        background-color: $darkgrey;
    }

    .dashboard-card{
        margin:2rem 2rem;
        @media (max-width:300px) {
            margin:1rem;
        }
        border:2px solid $offblack;
        border-radius: calc(0.5rem + 1vw);
        overflow: scroll;
        background-color: #fff;

        .dashboard-header{
            padding:1rem 2rem;
            background-color: $offblack;
            color:#fff;

    
            h1{
                font-size: calc(1.1rem + 2.6vw);
            }

            p{
                font-size:calc(0.5rem + 0.6vw);
            }
                    
        }
    
        .dashboard-body{
            padding:2rem;
            margin-bottom:1rem;
    
            h2{
                font-size: calc(0.9rem + 1.5vw);
            }
    
            h3{
                font-size: calc(0.65rem + 0.7vw);
            }
    
            p{
                font-size:calc(0.45rem + 0.6vw);
            }
    
            .action-prompt{
                position: fixed;
                top:50%;
                left:50%;
                transform: translate(-50%,-50%);
                width:calc(10rem + 30vw);
                height:calc(10rem + 20vh);
                background-color: #fff;
                display: none;
                flex-direction: column;
                z-index: 5;
                padding:3rem;
    
                .action-content{
                    text-align: center;
                    height:90%;
    
                    h1{
                        font-size: calc(0.9rem + 1.7vw);
                    }
                    h2{
                        font-size: calc(0.5rem + 1.2vw);
                        font-weight: 300;
                    }
                }
    
                .action-buttons{
                    display: flex;
                    justify-content: space-between;
                }
            }
    
            .dashboard-button{
                height:5vh;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                margin-bottom:2vh;
            }
    
            .table{
                border-color:$offblack;
                font-size:calc(0.45rem + 0.6vw);
    
                tbody{
    
                    .org-row{
                        cursor: pointer;
    
                        &:hover{
                            background-color: $mediumgrey;
                        }
                        .highlight{
                            color:$red;
                        }
                        .success{
                            color:$green;
                        }
                    }
                }
            }
        }

    }
}