@import '../../inc/variables';

.dashboard-body{
    p{
        padding:2px 0;
    }

        form {
            display:flex;
            align-items: center;
            padding-bottom:10px;

            .form-group{
                margin:0 20px 0 0 ;
                display:flex;
                align-items: center;
                width:fit-content;

                label{
                    font-size:calc(0.45rem + 0.6vw);
                    margin-right:calc(0.5rem);
                    padding-bottom: 0;
                }

                select{
                    display: inline-block;
                    min-width:100px;
                    width:calc(6rem + 4vw);
                }
            }

            .form-buttons{
                justify-content: flex-start;
                align-items: center;

                a{
                    margin-right:1rem;
                }
            }
        }

        #project-group{
            display:none;
        }
}

